<section class="spotlight">
  <% if work %>

    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%= link_to work.title, work_path(work), class:"spotlight__link-to" %>
     by <%= work.creator %>
    </h2>
    <p class="spotlight__description">
    <%= work.votes.count%>
      votes - <%= work.description%>
    </p>
    <% end %> 
  </section>